<h3>Sobre nós</h3>

<hr />

<p>Esse site foi desenvolvido com a propósito para praticar a linguagem C# e framework ASP.NET. A semestres atrás, tive duas disciplinas sobre back-end.</p>
<p>Porém, foi terrível. Não consegui entender um pingo da matéria, saí mais confuso de quando entrei. Logo, achei que não gostasse da área e parti em busca</p>
<p>de aprender Front-end.</p>
<p>Eu aprendi e desenvolvi:</p>
<p>- HTML, CSS e Javascript</p>
<p>- React</p>
<p>- NextJs</p>
<p>- Angular</p>
<p>Até que comecei a codar em Java. Comecei a gostar, fui pegando o gosto, aprendi Spring Boot, Docker, Maven, JPA.</p>
<p>E aqui estou aprendendo C# e ASP.NET.</p>